.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.mt-1{margin-top: 1rem;}
.mt-2{margin-top: 2rem;}
.mt-3{margin-top: 3rem;}

.ml-1{margin-left: 1rem;}

.mx-1{
    margin-left: 1rem;
    margin-right: 1rem;
}
.my-2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.p-1{padding: 1rem;}
.pl-1{padding-left: 1rem;}
.p-2{padding: 2rem;}
.p-3{padding: 3rem;}
.p-4{padding: 4rem;}
.p-5{padding: 5rem;}
.px-3{padding-left: 3rem;padding-right: 3rem;}
.mx-auto{margin-left: auto;margin-right: auto;}

.d-flex{display: flex;}
.flex-column{flex-direction: column;}
.flex-row{flex-direction: row;}
.flex-wrap{flex-wrap: wrap;}
.justify-content-center{justify-content: center;}
.justify-content-between{justify-content: space-between;}
.align-items-center{align-items: center;}
.align-items-start{align-items: start;}

.border{border: 1px solid lightgray}

.text-center{text-align: center;}
.text-right{text-align: right;}

.font-weight-bolder{font-weight: 800;}

.d-none{display: none;}

.position-absolute{position: absolute;}

.position-relative{position: relative;}

.w-100{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.border-none{border: 0;}