@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

.bg-primary {
  background-color: #ffeb3b;
}

header .welcome {
  height: 15vh;
}

header .welcome h1 {
  font-family: "Comfortaa", cursive;
  font-size: 2rem;
}

.note-search {
  background-color: white;
  border: 2px solid lightgray;
}

.note-search__search-input {
  padding-left: 40px;
  padding-right: 40px;
  height: 3rem;
  font-size: 1rem;
}

.note-search__search-input:focus {
  outline: none;
}

.note-search .note-search__search-icon {
  left: 0;
  top: 6px;
  padding: 10px;
}

.note-search .note-search__clear-button {
  right: 0;
  top: 6px;
  padding: 10px;
}

.notes-tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.notes-tab__tab-button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.notes-tab__tab-button:hover {
  background-color: #ddd;
}

.notes-tab__tab-button.active {
  background-color: #ccc;
}

.tabcontent {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabButton {
  text-decoration: none;
  color: black;
}

.border-light {
  border: 1px solid lightgray;
}

.border-light-bottom {
  border-bottom: 1px solid lightgray;
  padding-bottom: 1rem;
}

.card {
  background-color: white;
}

.is_hidden {
  display: none;
}

.modal {
  position: fixed;
  width: 500px;
  height: 25vh;
  background-color: #F7F6F2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notes-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 2em;
}

.notes-list__empty-message {
  text-align: center;
  color: #aaa;
}

.note-item {
  border: 1px solid #aaa;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: lightgoldenrodyellow;
}

.note-item__content {
  flex: 1;
}

.note-item__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
}

.note-item__date {
  font-size: 12px;
  margin-bottom: 8px;
}

.note-item__delete-button,
.note-item__archive-button {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 0;
  border-top: 1px solid #aaa;
  padding: 8px 0;
  font-weight: bold;
  cursor: pointer;
}

.note-item__delete-button {
  background-color: #f15223;
  color: white;
}

.note-item__archive-button {
  background-color: #2d9e64;
  color: white;
}

.note-item__archive-button:hover {
  color: lightgreen;
}

.note-item__delete-button:hover {
  color: lightcoral;
}

.note-create__title-input {
  height: 3rem;
  font-size: 1rem;
}

.note-create__title-input:focus {
  outline: none;
}

.note-create__content-textarea:focus{
  outline: none;
}


.tab-content {
  border: solid lightgray;
  border-width: 0px 2px 2px 2px;
}

.tab-list {
  border-bottom: 2px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  list-style: none;
  margin-bottom: -2px;
  cursor: pointer;
}

.tab-list-active {
  font-weight: 800;
  border: solid lightgray;
  border-width: 2px 2px 0 2px;
  background-color: white;
  background-color: #ffeb3b;
}

.message-error {
  color: red;
  font-size: 13px;
}

.input-error{
  border: 1px solid red;
}

.submit-button{
  background-color: #ffeb3b;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}